## Tarea 2
- Usar anomalies python package
- Implementar multiprocessing para calcular las soluciones

In [38]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np

from anomalies import anomaly
from lk import generate_lk

import pandas as pd
import multiprocessing as multiprocessing
import dask.array as da

In [39]:

def compute_z(lk, zmax=30):
    
    m = int(len(lk)/2)
    
    l, k = lk[:m].flatten(), lk[m:].flatten()
    
    z = anomaly.free(l, k)
    
    if np.any(np.isin(z, 0)) or np.any( np.abs(z) >= zmax+1) or np.any(np.isin(z, -z)):

        return {}

    else:

        gcd = anomaly.free.gcd
    
        if gcd==0:
            z_simplified = z
        else:
            z_simplified = anomaly.free.simplified

        if z[0]<0:
            z=(-1)*z
            z_simplified=(-1)*z_simplified
        
        results = {
            'l': l.tolist(),
            'k': k.tolist(),
            'z': z.tolist(),
            'gcd': gcd,
            'z_simplified': z_simplified.tolist()
        }   
    
        return results

In [40]:
def find_all_z(n, lkmax, N):

    lk = generate_lk(n, lkmax, N)
    lk = pd.DataFrame(lk.compute()).drop_duplicates(ignore_index=True).to_numpy()

    pool = multiprocessing.Pool()
    results = pool.map(compute_z, lk)

    return results

In [41]:
def solution_set(n, lkmax, N):
    
    zs = find_all_z(n, lkmax, N)

    all_zs = [d for d in zs if d]

    df = pd.DataFrame(all_zs)
    df = df.sort_values(by = ['gcd'], ignore_index=True)

    df['copy'] = df['z_simplified'].astype(str)
    df = df.drop_duplicates('copy').drop('copy', axis='columns').reset_index(drop=True)

    return df

In [42]:
df_5 = solution_set(5, 30, 1000000)
df_5

      l         k                      z  gcd           z_simplified
0   [1]  [-1, -5]  [2, 18, -23, -25, 28]    1  [2, 18, -23, -25, 28]
1  [-4]   [1, -2]   [4, 9, -14, -25, 26]    1   [4, 9, -14, -25, 26]
2   [2]  [-1, -2]     [2, 4, -7, -9, 10]    1     [2, 4, -7, -9, 10]
3  [-1]    [2, 1]  [2, 10, -14, -16, 18]    2      [1, 5, -7, -8, 9]

In [44]:
df_6 = solution_set(6, 11, 1000000)
df_6

,l,k,z,gcd,z_simplified
0,"[-1, 1]","[-2, 0]","[1, -2, -3, 5, 5, -6]",1,"[1, -2, -3, 5, 5, -6]"
1,"[1, -1]","[-2, -3]","[1, -2, -10, 12, 15, -16]",1,"[1, -2, -10, 12, 15, -16]"
2,"[-1, -2]","[-2, 3]","[2, 3, 6, -13, -17, 19]",1,"[2, 3, 6, -13, -17, 19]"
3,"[-1, 2]","[3, -2]","[7, -9, -12, 15, 20, -21]",1,"[7, -9, -12, 15, 20, -21]"
4,"[-1, 2]","[3, 2]","[3, -5, -8, 11, 15, -16]",1,"[3, -5, -8, 11, 15, -16]"
5,"[2, 3]","[1, -3]","[7, -9, -11, 14, 18, -19]",1,"[7, -9, -11, 14, 18, -19]"
6,"[-2, -1]","[-7, -9]","[1, 5, 6, -14, -19, 21]",1,"[1, 5, 6, -14, -19, 21]"
7,"[-2, -1]","[4, 5]","[2, -4, -5, 8, 10, -11]",1,"[2, -4, -5, 8, 10, -11]"
8,"[1, 3]","[2, -2]","[1, -5, -10, 17, 19, -22]",1,"[1, -5, -10, 17, 19, -22]"
9,"[2, -1]","[-4, -3]","[2, 3, 10, -19, -20, 24]",1,"[2, 3, 10, -19, -20, 24]"
10,"[-2, -1]","[1, 3]","[1, -3, -7, 10, 14, -15]",1,"[1, -3, -7, 10, 14, -15]"
11,"[-1, 4]","[-1, 0]","[3, -5, -12, 17, 17, -20]",1,"[3, -5, -12, 17, 17, -20]"
12,"[2, 1]","[2, -1]","[16, -19, -20, 26, 26, -29]",1,"[16, -19, -20, 26, 26, -29]"
13,"[-2, -1]","[4, 3]","[4, -9, -10, 18, 20, -23]",1,"[4, -9, -10, 18, 20, -23]"
14,"[-2, -1]","[-2, -1]","[1, -4, -8, 14, 14, -17]",1,"[1, -4, -8, 14, 14, -17]"
15,"[-1, 1]","[-4, -3]","[5, -6, -14, 16, 20, -21]",1,"[5, -6, -14, 16, 20, -21]"
16,"[-1, 2]","[3, 0]","[1, -3, -11, 14, 21, -22]",1,"[1, -3, -11, 14, 21, -22]"
17,"[2, 1]","[6, 7]","[3, -8, -10, 16, 29, -30]",1,"[3, -8, -10, 16, 29, -30]"
18,"[-3, -4]","[2, 5]","[7, -10, -11, 15, 21, -22]",1,"[7, -10, -11, 15, 21, -22]"
19,"[1, -2]","[-2, 1]","[1, 2, 5, -10, -11, 13]",1,"[1, 2, 5, -10, -11, 13]"
20,"[-1, 2]","[-4, 3]","[1, 4, 5, -12, -15, 17]",1,"[1, 4, 5, -12, -15, 17]"
21,"[3, 1]","[4, 5]","[3, 4, 6, -14, -28, 29]",1,"[3, 4, 6, -14, -28, 29]"
22,"[-3, -1]","[4, 5]","[2, 5, 10, -21, -24, 28]",1,"[2, 5, 10, -21, -24, 28]"
23,"[-2, -3]","[1, 5]","[10, -11, -19, 22, 23, -25]",1,"[10, -11, -19, 22, 23, -25]"
24,"[3, -2]","[-1, 2]","[4, -7, -12, 17, 21, -23]",1,"[4, -7, -12, 17, 21, -23]"
25,"[-1, 1]","[-4, 2]","[1, 4, 5, -11, -19, 20]",1,"[1, 4, 5, -11, -19, 20]"
26,"[2, 3]","[-3, -1]","[2, -3, -15, 17, 22, -23]",1,"[2, -3, -15, 17, 22, -23]"
27,"[1, 4]","[1, -2]","[10, -13, -13, 17, 22, -23]",1,"[10, -13, -13, 17, 22, -23]"
28,"[3, 2]","[-4, -5]","[3, -4, -13, 15, 19, -20]",1,"[3, -4, -13, 15, 19, -20]"
29,"[-1, 2]","[-1, 2]","[1, 1, 8, -11, -16, 17]",1,"[1, 1, 8, -11, -16, 17]"
30,"[2, 1]","[6, 9]","[2, 4, 6, -15, -17, 20]",1,"[2, 4, 6, -15, -17, 20]"
31,"[-1, 1]","[-2, -3]","[3, 4, 6, -16, -19, 22]",1,"[3, 4, 6, -16, -19, 22]"
32,"[3, 1]","[-2, -1]","[4, -6, -11, 14, 20, -21]",1,"[4, -6, -11, 14, 20, -21]"
33,"[1, 2]","[3, -2]","[1, 3, 8, -13, -23, 24]",1,"[1, 3, 8, -13, -23, 24]"
34,"[2, 1]","[2, 3]","[2, 2, 3, -8, -12, 13]",1,"[2, 2, 3, -8, -12, 13]"
35,"[-1, -2]","[-1, 2]","[1, 1, 1, -4, -4, 5]",1,"[1, 1, 1, -4, -4, 5]"
36,"[-1, 1]","[4, -3]","[2, -3, -8, 10, 12, -13]",1,"[2, -3, -8, 10, 12, -13]"
37,"[1, 2]","[1, -4]","[2, -7, -7, 13, 22, -23]",1,"[2, -7, -7, 13, 22, -23]"
38,"[-2, 1]","[-2, -1]","[4, -5, -11, 14, 14, -16]",1,"[4, -5, -11, 14, 14, -16]"
39,"[-1, -2]","[-1, -2]","[8, -11, -11, 16, 17, -19]",1,"[8, -11, -11, 16, 17, -19]"
40,"[-1, 5]","[-1, 0]","[4, -6, -20, 26, 26, -30]",2,"[2, -3, -10, 13, 13, -15]"
41,"[-1, 1]","[-5, -3]","[2, 6, 10, -22, -26, 30]",2,"[1, 3, 5, -11, -13, 15]"
42,"[1, -1]","[1, 3]","[2, 2, 10, -18, -18, 22]",2,"[1, 1, 5, -9, -9, 11]"